/TestingProject/x64
*.vcxproj.user
.vs/
Win32/
Release/
bin/x32
bin/x64
Debug/
build/
src/Libs
/src/Bindings/vcpkg_installed
/src/Dotx64Managed/obj
/bin/dotplugins/myplugin/My Plugin.csproj
/bin/dotplugins/myplugin/obj
/src/Dotx64DbgManagedTests/obj
/src/Dotx64Managed/Properties/launchSettings.json
/src/Dotx64Managed/*.user
